extends ../../head_standard_mata.pug
block properties 
        // Site Properties
        title mu:m essay colletion
        script(src="/semantic/out/components/form.js")
        script(src="/semantic/out/components/transition.js")
        style(type="text/css").
            body {
            background-color: #FFFFFF;
            }
            .hidden.menu {
            display: none;
            }
            .masthead.segment {
            min-height: 400px;
            padding: 4em 0em;
            }
            .masthead .logo.item img {
            margin-right: 1em;
            }
            .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
            }
            .masthead h1.ui.header {
            margin-top: 1em;
            margin-bottom: 0em;
            padding: 20px 0px;
            font-size: 2.5em;
            font-weight: normal.5;
            }
            .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
            margin-bottom: 20px;
            }
            .ui.vertical.stripe {
            padding: 4em 0em;
            }
            .ui.vertical.stripe h3 {
            font-size: 2em;
            }
            .ui.vertical.stripe .button + h3,
            .ui.vertical.stripe p + h3 {
            margin-top: 3em;
            }
            .ui.vertical.stripe .floated.image {
            clear: both;
            }
            .ui.vertical.stripe p {
            font-size: 1.33em;
            }
            .ui.vertical.stripe .horizontal.divider {
            margin: 1em 0em;
            }
            .quote.stripe.segment {
            padding: 0em;
            }
            .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
            }
            .footer.segment {
            padding: 5em 0em;
            }
            .secondary.pointing.menu .toc.item {
            display: none;
            }
            @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
            display: none !important;
            }
            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
            display: none;
            }
            .secondary.pointing.menu .toc.item {
            display: block;
            }
            .masthead.segment {
            min-height: 350px;
            }
            .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
            }
            .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
            }
            .paddingBottom{
              padding-bottom: 40px;
            }
            }
        script.
          $(document)
          .ready(function() {
          // fix menu when passed
          $('.masthead')
          .visibility({
          once: false,
          onBottomPassed: function() {
          $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
          $('.fixed.menu').transition('fade out');
          }
          })
          ;
          // create sidebar and attach to menu open
          $('.ui.sidebar')
          .sidebar('attach events', '.toc.item')
          ;
          })
          ;
    
            
block content
  .ui.vertical.inverted.sidebar.menu
    a(href='/topic').active.item Home
    if user
      a(href='/topic/add').item 참가학생 등록
    a(href='/topic/present').item 전체등록현황
  .pusher
    .ui.inverted.vertical.masthead.center.aligned.segment
      .ui.container
        .ui.large.secondary.inverted.pointing.menu
          a.toc.item
            i.sidebar.icon
          a(href='/topic').active.item Home
          if user
            a(href='/topic/add').item 참가학생 등록
          a(href='/topic/present').item 전체등록현황
          .right.item
            if user
              a(href='/auth/logout').ui.inverted.button Log out
            else
              a(href='/auth/login').ui.inverted.button 로그인
              a(href='/auth/register').ui.inverted.button 등록
      .ui.text.container.header
        h1.ui.inverted.header
          | My First Essay Collection
        if user
          h2="mu:m English "+user.displayName
          a(href='/topic/add').item.ui.huge.primary.button
            | 참가학생 등록 
            i.right.arrow.icon
    if user      
      h2.ui.center.aligned.header 등록 학생 리스트
      .ui.three.column.grid.container
        each topi in topics
          .column
            .ui.segment
              a(href='/topic/'+topi.id)= topi.name
      
    if topic
      .ui.vertical.stripe.segment
        .ui.equal.width.stackable.internally.grid
          h1.ui.horizontal.header.divider=topic.name + " 등록정보"
          .center.aligned.row
            .column
              h2= topic.title
              = topic.description
              -topi = topic.topic
              if topic.topic == null
                -topi = '미정'
              p= '발표 주제 : '+ topi
              p= '코스 : '+ topic.course
              p= '레벨 : '+ topic.level
              p= '학교 : '+ topic.school
              p= '학년 : '+ topic.grade
              p
                  a(href='/topic/'+topic.id+'/edit').ui.small.basic.button 학생정보수정
                  a(href='/topic/'+topic.id+'/delete').ui.small.basic.button 학생정보삭제
            .column
              img(src=imagesUrl+topic.photoId, alt='',width="150")
              p
                  a(href='/topic/'+topic.id+'/photoEdit').ui.small.basic.button 사진변경
      .ui.column
        a(href='/topic/'+topic.id+'/selectBGImg').ui.small.basic.button 배경이미지 선택
        a(href='/topic/'+topic.id+'/addBGImg').ui.small.basic.button 배경이미지 추가
      .ui.inverted.vertical.masthead.center.aligned.segment
        .column
          #background
            .layer
              .BG
                img(src=bgimgUrl+topic.bgFileName, alt='')
            .layer
              .container.yellow
                #logo
                #profile=topic.name+' '+topic.school+' '+topic.grade
                #center=campursName.displayName
            .layer
              .photozone
                .span
                  #photo
                    img(src=imagesUrl+topic.photoId, alt='', width='150')
    footer.footer
      h4.ui.center.aligned.header 등록관련문의 031-632-0907  - © 2017 뮤엠 이천신하센터              
    


                 
